*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
 h1{
    color: rgb(255, 255, 255);
}

p{
    color: rgb(255, 255, 255);
}

.img-bokatan{
    width: 100%;
    height:auto
    max-width: 100%;
} 