.bloco-1{
    background-color: rgb(96, 68, 34);
    width: 100px;
    height: 100px;
}
.bloco-2{
    background-color: rgb(147, 103, 50);
    width: 100px;
    height: 100px;
}
.bloco-3{
    background-color: rgb(183, 104, 9);
    width: 100px;
    height: 100px;
}
.container{
    background-color: bisque;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    height: 300px;
    row-gap: 10px;
    column-gap: 30px;
}