body{

    margin: 0%;
    margin-top: 0%;
    image-rendering:optimizeQuality;
    background-color:rgba(255, 166, 0, 0.477); 
    padding: 0;
}




header{


    background-color: rgb(207, 248, 187);
    background-size: 100%;
    background-image: inherit;
    color:rgb(255, 140, 0);
    font-size: 200%;
    font-family: Verdana;
    text-align: center;
    justify-content:space-between;
    margin:0%;
    padding: 0%;

}

h1{

    margin-top: 0%;

}

img-responsiva{

    
width: 100%;
max-width: 100%;
height: auto; 
justify-content: center;
text-align: center;
display: flex;
        }
        


    

nav{
background-color: rgb(83, 143, 19);
height: auto;


}

main{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
   
}

.minha-div {
  

color: green;
border-color:rgb(5, 5, 5);
font-size: 50%;
justify-content:center;
align-items: center;
display: flow-root;

}

button {

background-color: rgb(188, 245, 158);
border-width: thick;
color: green;
font-weight: bold;
font-size: large;
border-color: orange;
width: 200px;
height:80px;
align-items: center;
justify-content: space-around;
text-decoration: none;
}

       



   
article{
    
    color:rgb(11, 11, 11);
    font-size: 14px;
    text-align:center;
    font-family: Verdana;
    display:flex;
    justify-content: center;
 
   
   
}



.mulher {

    display:flex;
    justify-content:left;
    align-items:center;

}
   
.poema{
    
    color:rgb(11, 11, 11);
    font-size: 14px;
    text-align:center;
   align-items:start
   
   
}



.foto1{

   
    justify-content:right;
    align-items: center;
    display:flex;
    width: 900px; /* largura máxima do contêiner */
    height: 900px; /* altura máxima do contêiner */
  
 

}





.foto1 img {

    max-width: 90%; /* define a largura máxima da imagem como 100% do contêiner */
    height: auto; /* permite que a imagem seja redimensionada proporcionalmente */
    align-items: center;
    display: flex;
    justify-content:right;
    margin: 0%;
    background-color: rgba(255, 166, 0, 0.477);
  }


  .main1{

 
  
    width: 150px; /* largura máxima do contêiner */
    height: 150px; /* altura máxima do contêiner */

}

.main img{


    max-width: 50%;
    max-height: 50%;

}





section{
    
    color:rgb(11, 11, 11);
    display: flex;
    justify-content:center;
    text-align:center;
    margin: 0%;
    font-size: 14px;
    font-family: Verdana;
    
 
}




   
  .mae{

  
    width: 750px; /* largura máxima do contêiner */
    height: 750px; /* altura máxima do contêiner */
    justify-content: right;
    align-items: center;

}

.mae img {

    max-width: 110%; /* define a largura máxima da imagem como 100% do contêiner */
    max-height: 110%;
    align-items: center;
    justify-content: right;

}

aside{

display: flex;
justify-content: center;
text-align: center;

}
.video{

justify-content:center;
align-items:start;
}

footer{

    background-color: orange;
    color: #000;
    align-items: center;
    text-align: center;
    justify-content: center;
}



@media (max-width: 768px){

    body{
        background-color: blue;
        color: white;
        justify-content: center;
        margin: 0%;
        padding:0%;
        display: table-cell;
        font-weight: bold;
        line-height:1.3cm;
        font-size: 3em;
        display: table-cell;
       


    }


    header{






        background-color:blueviolet;
        color:white;
        font-size: 175%;
        font-family: Verdana;
        text-align: center;
        justify-content:center;
        width:100%;
        height:250%;
       
       


    }


    h1{
        font-size:1em ;
        font-weight: bold;
        height: auto;
    }


    h2{
        font-size:1em ;
        font-weight: bold;
    }


    button{


        width: 300px;
        height: 80px;
        background-color: white;
        color: black;
        justify-content:safe;
        font-size: 1.7rem;
        align-items: center;
        border-radius: 50%;




    }
    .container {
       
   
        text-align: justify;
        align-items: center;
        font-size: 15,5rem;
        display:flow-root;
        background-color: blue;
        color: white;
        margin:0%;
        padding: 0%;
        justify-content:right;


    }


    main{
       
        width: 100%;
        justify-content:center;
       
    }
        nav {
            justify-content: center;
            background-color:aquamarine;
            font-size: 0,8rem;
            width:100%;
        }
       
p{
    color: white;
    font-size:2rem;
    justify-content: center;
   
}


h3{
    color: aliceblue;
    font-weight: bold;
    font-size:2em;
}


h4{
    color: aliceblue;
    font-weight: bold;
    font-size:3.5em;
}
h5{
    color: aliceblue;
    font-weight: bold;
    font-size:3.5em;
}


 minha-div{
   


    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 90%;
    display: flexbox;
    background-color: blue;
 }
 
 footer{
background-color: aliceblue;
justify-content: center;
text-align: center;
color: blue;
height:100%;
width:100%;
margin:0%;
padding:0%;




 }


.musica{


    justify-content: right;
    align-items:center;
}


.mulher{


    width:auto;
}


.mae{
    
    width: auto;
}

}