/* Use a mobile-first approach */
body {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  background-color: #080808;
}

nav {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  line-height: 1.25rem; 
}
nav a {
  text-decoration: none;
  color: hwb(0 90% 4%);
}

nav h2 {
  padding: 1.25rem; 
}

header {
  text-align: center;
  color: white;
  padding: 3.125rem; 
}

#criolo {
  border-radius: 12.5rem; 
}

section {
  color: white;
}

.minibio {
  padding: 3.125rem; 
  display: flex;
  justify-content: center;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}

.premios {
  display: flex;
  justify-content: center;
  padding: 3.125rem; 
}

footer {
  color: aliceblue;
  padding: 3.125rem; 
  text-align: center;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav a {
    display: block;
    padding: 0.625rem; 
  }

  nav h2 {
    padding: 0.625rem; 
  }

  header {
    padding: 1.875rem; 
  }

  .minibio {
    padding: 1.875rem; 
  }

  .premios {
    padding: 1.875rem; 
  }

  footer {
    padding: 1.875rem; 
  }
}

@media only screen and (max-width: 480px) {
  header {
    font-size: 1.5rem; 
  }

  nav h2 {
    font-size: 1.25rem; 
    padding: 0.625rem; 
  }

  .minibio {
    padding: 1.25rem; 
  }

  .premios {
    padding: 1.25rem; 
  }

  footer {
    font-size: 0.875rem; 
    padding: 1.25rem; 
  }
}
